<style>
.customButton { 
border:14.2px solid #000000;
border-radius:35.1px;
padding:10px 31.6px 100px 22px;
 margin:10px 19px 100px 10px;
background-color:#3CF955;
color:#000000;
font-weight:400;
opacity:1;
transition:1s;
} 
.customButton:hover {
cursor:pointer;
background-color:#5DC6F9;
opacity:0.5;
transition:1s;
color:#000000;
} 
</style>

<style>
    /* Your CSS styles here */
    </style>
    
    <div class="html_button btn-left">
        <button href="#" class="btn customButton medium" (click)="viewPoem()">
            View Poem
    </button>
    </div>

<!-- <div class="poem">
    <p>poem works!</p>
    <pre> {{getPoem()}}</pre>
</div> -->